h1{color: rgb(68, 145, 239);text-align: center;font-family:corbel,Georgia, 'Times New Roman', Times, serif;}
h2{font-family:corbel, Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}
#bigger{font-size: 20px;}
body {
    /*background-image: url('mysite/image_web.jpg');*/
    background-image: url('https://images.hdqwalls.com/wallpapers/movement-colors-abstract-8k-wa.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: corbel;
}
a{
    color: #c7fffa;
    font-family: corbel;
}
.cent{
    /*background-color: rgb(253, 252, 252);*/
    /*border:5px solid black;*/
    /*margin: 30px;*/
    border-radius: 11px;
    background-color: rgb( 255, 255, 255, 0.1);
    width: 55vw;
    margin: 25px auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#file-list li{
    list-style-type: none;
    /*border: 1px solid black;*/
    border-radius: 11px;
    margin: 10px 11px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
#file-list {
    padding: 5px;
}

.container-center-text{text-align: center;}
.upload-button{background-color:rgb(61, 134, 251);transition:all ease 0.3s;color:white;cursor:pointer;padding: 5px 5px;margin:5px;border-radius: 5px;}
.upload-button:hover{background-color: #509950;}
.delete-button{background-color:rgb(61, 134, 251);transition:all ease 0.3s; color:white;cursor:pointer;padding: 5px 5px;margin:5px;border-radius: 5px;}
.delete-button:hover{background-color: rgb(219,68,55);}
.delete-button:active{scale:0.9;}
.upload-button:active{scale:0.9;}
